.day--separator {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.day--separator:hover {
  cursor: pointer;
}

.day--notes {
  font-style: italic;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}