$enable-responsive-font-sizes: true;

@import "~bootstrap/scss/bootstrap.scss";

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px; !* Margin bottom by footer height *!*/
  margin: 0 0 80px 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.one-set--muted {
  opacity: 0.3;
}

.set__head {
  border-bottom: 2px solid $gray-300;
  //vertical-align: bottom;
  //padding: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.one-set:hover {
  font-weight: bolder;
}

.legend .row:nth-of-type(odd) div {
  background-color: rgba($black, .05);
}

.legend .row:nth-of-type(even) div {
  background-color: rgba($white, 1);
}

.height-0 {
  height: 0;
}