// https://coolors.co/32322c-f2fdff-b7321b-0b4f6c-01baef

$color-jet: #32322C;
$color-azure-mist: #F2FDFF;
$color-chinese-red: #B7321B;
$color-dark-imperial-blue: #0B4F6C;
$color-cyan-process: #01BAEF;
